// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.outer-checkout-empty {
  display: flex;
  justify-content: center;
  background-color: #f2f3f2;
  color: #2e2e2e;
  border-top: 1px solid #c7cad3;
}

.inner-checkout-empty {
  padding-top: 2.125em;
  padding-bottom: 4.125em;
  max-width: 1180px;
  margin: 0 auto;
  background-color: #f2f3f2;
  border: 1px solid #c7cad3;
  width: 50%;
  text-align: center;
  color: #464646;
}

.return-shop {
  font-size: .6875em;
    line-height: 1;
    padding: 1em 1.5em 1em;
    border: .3125em solid #464646;
    color: #464646;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
}

.empty-checkout-text {
  padding: 5px;
  margin-bottom: 25px;
}
