.masthead-image {
  background: url(http://res.cloudinary.com/unravled/image/upload/v1500588149/bar-rnw-282399_ij2xwh.jpg)
  no-repeat center;
  height: 80%;
  width: 100%;
  z-index: -1;
  position: absolute;
  background-size: cover;

}
