/*modals */


.login-input {
  width: 379px;
  height: 34px;
  font-family: 'Poppins', sans-serif;
  padding: 8px;
  margin: 5px;
}

.login-form-box {
  margin-top: -36px;
}

input .login-input {
  background-color: white;
}

button {
  font-family: 'Poppins', sans-serif;
}

// To overwrite chromes yellow background
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.closebutton {
  font-family: 'Poppins', sans-serif;
  background:none;
  border:none;
  font-size:1em;
  color:black;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  cursor: pointer;
}

.demo {
  margin-top: 8px;
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid black;
  height: 41px;
  width: 119px;
  font-family: 'Poppins', sans-serif;
}


.submitbutton {
  cursor: pointer;
  display: inline;
  position: relative;
  background:none;
  border:none;
  font-size:1em;
  color: black;
  font-family: 'Poppins', sans-serif;
  height: 41px;
  background-color: lightgrey;
  width: 191px;
  margin: 10px;

}
