/*modals */
.ReactModal__Content {
  width: 34%;
  height: 45%;
  box-sizing: border-box;
}

.login-input {
  width: 379px;
  height: 34px;
  font-family: 'Poppins', sans-serif;
  padding-top: 5px;
  margin: 5px;
}

input .login-input {
  background-color: white;
}

.login-signup-buttons {
  padding-left: 95%;
}

.submitbutton {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid black;
  height: 41px;
  width: 119px;
  font-family: 'Poppins', sans-serif;
}
