/*modals */
.ReactModal__Content {
  width: 34%;
  min-height: 340px;
  // box-sizing: border-box;
}

.login-input {
  width: 379px;
  height: 34px;
  font-family: 'Poppins', sans-serif;
  padding: 8px;
  margin: 5px;
}

input .login-input {
  background-color: white;
}

button {
  font-family: 'Poppins', sans-serif;
}

// To overwrite chromes yellow background
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.submitbutton {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid black;
  height: 41px;
  width: 191px;
  font-family: 'Poppins', sans-serif;
}

.closebutton {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.demo {
  margin-top: 8px;
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid black;
  height: 41px;
  width: 119px;
  font-family: 'Poppins', sans-serif;
}
