/*NAV BAR*/
// .main-head {
//   background-size: cover;
//   background-repeat: no-repeat;
//   width: 100%;
//   min-height: 800px;
//   margin: 0;
//   padding: 0;
//   display: flex;
//   flex-flow: row;
// }
.navbar {
  width: 100%;
  margin: 0;
  padding: 20px 0 20px 0;
  opacity: .5;
  background-color: white;
  height: 40px;
}


.navbar {
  & ul {
    display: flex;
    list-style: none;
    width: 40%;
    & li {
      flex: 1 1 100%;
    }
  }
}

.logo {
  float: left;
  margin: 0 0 0 30px;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline;
  padding: 0 40px 0 0 ;
}

.navlinks li a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
}

.logo a {
  display: block;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 1.8em;
  margin-left: 60px;
}

.navbar .navlinks a:hover {
  color: red;
}

.navbar .logo a:hover {
  color: blue;
}

.ReactModal__Content {
  width: 34%;
  height: 45%;
  box-sizing: border-box;
}

.login-input {
  width: 379px;
  height: 34px;
  font-family: 'Poppins', sans-serif;
  padding-top: 5px;
  margin: 5px;
}

input .login-input {
  background-color: white;
}

.login-signup-buttons {
  display: inline-flex;
  margin-left: 860px;
  margin-top: -19px;
}
.navbutton{
  text-decoration: none;
  padding: 5px;
}

.submitbutton {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid black;
  height: 41px;
  width: 119px;
  font-family: 'Poppins', sans-serif;
}

.signoutbutton{
  display: flex;
  margin-left: auto;
  margin-top: 5px;
  margin-right: 75px;
}

.usergreeting {
  position: fixed;
  margin-top: 4px;
  margin-left: 19px;
}
