/*NAV BAR*/
.navbar {
  width: 100%;
  margin: 0;
  padding: 20px 0 20px 0;
  opacity: .5;
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar {
  & ul {
    display: flex;
    list-style: none;
    padding-right: 5%;
    & li {
      flex: 1 1 100%;
    }
  }
}

.logo {
  float: left;
  margin: 0 0 0 30px;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline;
  padding: 0 40px 0 0 ;
}

.navlinks li a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
}

.logo a {
  display: block;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 1.8em;
  margin-left: 60px;
}

.navbar .navlinks a:hover {
  color: red;
}

.navbar .logo a:hover {
  color: blue;
}

.login-input {
  width: 379px;
  height: 34px;
  font-family: 'Poppins', sans-serif;
  padding-top: 5px;
  margin: 5px;
}

input .login-input {
  background-color: white;
}

.login-signup-buttons {
  display: inline-flex;
  justify-content: space-between;
  margin-top: -8px;
  }
.navbutton{
  text-decoration: none;
  padding: 5px;
}

.user {
  display: block;
  margin-top: 16px;
}

.submitbutton {
  cursor: pointer;
  display: block;
  position: relative;
  background:none;
  border:none;
  font-size:1em;
  color: black;
  font-family: 'Poppins', sans-serif;
  height: 41px;
  background-color: lightgrey;
  width: 191px;

}

.myaccountbutton {
  font-family: 'Poppins', sans-serif;
  background:none;
  border:none;
  font-size:1em;
  color:black;
  display: flex;
  margin-left: auto;
  cursor: pointer;
  justify-content: space-between;
}

.registerbutton {
  font-family: 'Poppins', sans-serif;
  background:none;
  border:none;
  font-size:1em;
  color:black;
  display: flex;
  margin-left: auto;
  cursor: pointer;
  justify-content: space-between;
}

.demobutton {
  font-family: 'Poppins', sans-serif;
  background:none;
  border:none;
  font-size:1em;
  color:black;
  display: flex;
  margin-left: auto;
  cursor: pointer;
  justify-content: space-between;

}

.signoutbutton{
  font-family: 'Poppins', sans-serif;
  background:none;
  border:none;
  font-size:1em;
  color:black;
  margin-top: -50px;
  display: flex;
  margin-left: auto;
  margin-right: 75px;
  cursor: pointer;
  justify-content: space-between;

}

.usergreeting {
  position: fixed;
  margin-top: 4px;
  margin-left: 19px;
}

.top_nav_bottom {
  padding: 14.5px 125px;
  border-bottom: 1px solid gray;
}
