// Place all the styles related to the pattern controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.patterns-index {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  background-color: #f2f3f2;
  text-decoration: none;

}

.pattern-image {
  margin: 10px;
  height: 50%
}

.pattern-name {
  margin: 0;
  text-align: center;
  width: 98%;
  top: -50px;
  opacity: 0.7;
  padding: 3px;
  background-color: white;
  position: relative;
  color: black;
}

img.image {
    height: 375px;
    width: auto;
  }

a {
  text-decoration: none;
}

.pattern-show {
  background-color: #f2f3f2;
}

.pattern-show-image {
  justify-content: space-around;
  display: flex;
  padding-top: 5%;
  margin-right: 43%;

}
