// Place all the styles related to the pattern controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a {
  text-decoration: none;
}

.patterns-index {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  background-color: #f2f3f2;
  text-decoration: none;

}

.pattern-image {
  margin: 10px;
  height: 50%;

}

.pattern-name {
  margin: 0;
  text-align: center;
  width: 98%;
  top: -50px;
  opacity: 0.7;
  padding: 3px;
  background-color: white;
  position: relative;
  color: black;
}

img.image {
    height: 375px;
    width: auto;
  }

.pattern-show-top {
  display: inline-flex;
    background-color: #f2f3f2;
}

.pattern-show {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  font-size: 14.5px;

}

.pattern-show-name {
  text-align: center;
}

.top-description{
  margin: 10%;
}
.pattern-show-price {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.pattern-show-description {
  border-top: 1px solid #c7cad3;
  padding: 10%;
}

.pattern-show-details {
  border-top: 1px solid #c7cad3;
  width: 383px;
   height: auto;
   margin: 34px;
}

.cart-button {
  text-align: center;
  border: 6px solid black;
  padding: 7px;
  margin-top: 45px;

}

.pattern-show-image {
  display: flex;
   justify-content: center;
   margin: 34px 0 34px 34px;
   border-radius: 4px;

}
