// Place all the styles related to the review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-review{
  display: flex;
  justify-content: center;
  /* margin-left: 20%; */
  flex-wrap: wrap;
  background-color: #f2f3f2;
  text-decoration: none;
  width: 940px;
  padding: 0;
  margin: 0;
  border-top: 1px solid #c7cad3;
  padding-top: 24px;
    padding-bottom: 17px;
}

.reviews-section {
  color: black;
}

.review-description {
  border-top: 1px solid #c7cad3;
  border-radius: 4px;
  width: 400px;
  height: 51px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.submit-button {
  text-align: center;
  border: 1px solid black;
  background-color: white;
  font-size: 1em;

}

.item-reviews {
  width: 940px;
  border-top: 1px solid #c7cad3;
  background-color: #f2f3f2;
}

.review-header {
  padding: 29px 17px 5px 0;
  font-size: 22px;
  color: #000000;
  margin-left: 71px;
}

.reviews > li {
  margin-bottom: 17px;
  padding: 0px 17px 24px 10px;
}

.reviews > li:last-child {
  margin-bottom: 0;
}

.review {
  display: flex;
  position: relative;
  margin-left: 34px;
  color: #000000;
}

.reviews {

}

.reviewer {
  width: 100px;
  padding: 0px;
  font-size: 12px;
}

.reviewer > li:last-child {
  padding-top: 5px;
  color: #000000;
}

// .user-icon {
//   margin-bottom: 6px;
//   color: #f2f3f2;
//   font-size: 38px;
// }

.reviewed-by, .reviewer-review-date {
  color: #000000;
  font-size: 12px;
}

.reviewer-review {
  position: absolute;
  margin-left: 150px;
}

.reviewer-review-date {
  position: absolute;
  margin-left: 690px;
}

@media only screen
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .review-description {
      width: 93px;
      height: 15px;
    }
}

.deletereviewbutton {
  padding: 11px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 3px;
    border: none;
    background-color: #f2f3f2;
}
